
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Lists index</h1>
    <p>Your favorite categories</p>
  </div>
</div>


<div class="container">
  <div class="grid">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <li><%= list.name %></li>
        </div>
      <% end %>
    <% end %>
    <%= link_to "Add a new list", :new_list, class: 'btn btn-ghost bouton-center' %>
  </div>
</div>
